# Allows program to be ran using an application launcher that supports .desktop files
[Desktop Entry]
Type=Application
Version=1.0
Name=Super Sudoku Solver
Comment=Sudoku game
Exec=super-sudoku-solver
Terminal=false
